.home .container {
  grid-template-columns: 100%;
  grid-template-rows: auto auto;
}

.item-content {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto auto;
  row-gap: 10px;
}

.item-content--img {
  width: 100%;
  max-height: 220px;
}

.opening-hours .h2-wrapper a {
  display: block;
  color: var(--color-no16);
  font-weight: 500;
}

.opening-hours--details {
  display: grid;
  background-color: var(--color-no13);
  padding: 10px 5px;
}

.opening-hours img {
  object-position: bottom;
}

.opening-hours--details li p {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-between;
}