@media (min-width: 380px) {
  .treatment .nav-main_list a {
    font-size: calc(var(--normal-font-size) + 1vw);
  }

  header h1 {
    font-size: calc(var(--medium-font-size) + 3vw);
  }

  .logo p {
    font-size: calc(var(--normal-font-size) + .2vw);
  }

  .opening-hours--details li p {
    grid-template-columns: 20% 80%;
    justify-content: flex-start;
    column-gap: 10px;
  }

  /* treatments */
  .h1-wrapper h1 {
    font-size: calc(var(--normal-font-size) + 4vw);
  }

  .wrapper-items--treatments {
    grid-template-columns: 80%;
  }
}

@media (min-width: 420px) {
  .nav-main_list a {
    font-size: calc(var(--normal-font-size) + .5vw);
  }

  .wrapper-items--treatments {
    grid-template-columns: 70%;
  }
}

@media (min-width: 450px) {
  .wrapper-items--treatments {
    grid-template-columns: 60%;
  }

  .item-content--description {
    font-size: 18px;
  }
}

@media (min-width: 500px) {
  .nav-main .container {
    display: grid;
    gap: 0;
    grid-template-columns: auto auto;
  }

  .treatments .container {
    row-gap: 30px;
  }

  .h1-wrapper h1 {
    font-size: calc(var(--medium-font-size) + 1vw);
  }

  .item-content-treatment-details .container {
    grid-template-columns: 40% 60%;
    grid-template-rows: auto 50px;
    gap: 10px;
  }

  .item-content-treatment-details .item-content--img {
    grid-column: 1/2;
    grid-row: 1/3;
  }

  .item-content-treatment-details .h2-wrapper {
    display: block;
    grid-column: 2/3;
    grid-row: 1/2;
    justify-self: flex-start;
  }

  .item-content-treatment-details .treatments-list {
    margin-top: 50px;
    grid-column: 2/3;
    grid-row: 1/2;
  }

  .item-content-treatment-details .btn-treatment {
    grid-column: 2/3;
    grid-row: 2/3;
    margin: 0 auto 0 0;
  }



  .contact a span {
    display: inline-block;
    margin-right: 20px;
  }
}

@media (min-width: 600px) {

  header .container,
  header {
    height: 80vh;
  }

  header h1 {
    font-size: calc(var(--medium-font-size) + 1.5vw);
  }

  header h1 .first-letter {
    font-size: calc(var(--medium-font-size) + 3.5vw);
  }

  .item-content {
    margin: auto 10px;
    gap: 10px;
    grid-template-columns: 40% 60%;
  }

  .item-content--img {
    max-height: 300px;
  }

  .item-content-treatment {
    grid-template-columns: 100%;
  }

  .opening-hours .item-content--img {
    height: 100%;
  }

  .grid-container {
    grid-template-rows: 120px 100px auto;
  }

  .btn-treatment {
    font-size: var(--normal-font-size);
  }

  .wrapper-items--treatments {
    gap: 5px;
    grid-template-columns: repeat(3, 32%);
  }

  .h2-wrapper h2 {
    font-size: calc(var(--normal-font-size) + 1vw);
  }

  .h2-wrapper p {
    font-size: var(--normal-font-size);
    max-width: 600px;
    margin: 0 auto;
  }

  .opening-hours .h2-wrapper a {
    display: inline;
  }

  .contact .item-content,
  .social-media .item-content {
    grid-template-columns: 100%;
  }
}

@media (min-width: 650px) {
  .hamburger-menu {
    display: none;
  }

  .nav-main_list {
    left: 0;
    display: flex;
    position: static;
    justify-content: flex-end;
    padding: 0;
  }

  .nav-main_list,
  .nav-main_list a,
  .nav-main_list a.active {
    background-color: transparent;
  }

  .nav-main_list a {
    font-size: calc(var(--normal-font-size) + 1px);
  }
}

@media (min-width: 680px) {
  .grid-container {
    grid-template-rows: 200px 100px auto;
  }
}