.treatments-nav {
  font-weight: 600;
  text-decoration: underline;
  color: var(--color-no16);
}

.item-content-treatment-details {
  grid-template-columns: 100%;
}

.item-content-treatment-details .item-content--img {
  max-height: 300px;
}

.item-content-treatment-details .container {
  row-gap: 20px;
}

.item-content-treatment-details ul {
  text-align: left;
}

.treatment-name {
  margin: 10px 0;
  text-transform: uppercase;
  font-weight: 500;
  cursor: pointer;
}

.treatment-name-clicked {
  text-decoration: underline;
}

.treatment-content--description {
  max-height: 0;
  line-height: 1.5;
  overflow-y: hidden;
  transition: var(--transition-medium);
  margin: 10px 0;
}

.animate-more-description {
  max-height: 2000px;
  margin: 10px 0 30px;
}

.close-btn {
  padding: 5px 10px;
  border-radius: var(--middle-radius);
  border: 1px solid;
  display: block;
  text-align: center;
  max-width: 300px;
  font-weight: 400;
  background-color: var(--color-no17);
  margin-top: 10px;
}