.treatments-nav {
  font-weight: 600;
  text-decoration: underline;
  color: var(--color-no16);
}

.item-content-treatment-details .container {
  row-gap: 20px;
}

.item-content-treatment-details ul {
  text-align: left;
}

.treatment-name {
  margin: 10px 0;
  text-transform: uppercase;
  font-weight: 500;
  transition: var(--transition-medium);
  cursor: pointer;
}

.treatment-name-clicked {
  text-decoration: underline;
}

.treatment-content--description {
  height: 0;
  line-height: 1.5;
  overflow-y: hidden;
  transition: .5s;
  margin: 10px 0;
}

.animate-more-description {
  height: 350px;
  overflow-y: auto;
}

.close-btn {
  padding: 5px 10px;
  border-radius: var(--middle-radius);
  border: 1px solid;
  display: inline-block;
  font-weight: 400;
  background-color: var(--color-no17);
  margin: 15px 0 20px;
}