h1 {
  color: var(--color-no16);
}

.wrapper-items--treatments {
  display: grid;
  grid-template-columns: auto;
  justify-content: center;
  row-gap: 30px;
}

.item-content-treatment {
  box-shadow: var(--box-shadow-light);
  border-radius: var(--middle-radius);
  background-color: var(--color-no13);
}

.grid-container {
  display: grid;
  row-gap: 20px;
  grid-template-columns: 95%;
  justify-content: center;
}

.item-content-treatment img {
  border-radius: var(--middle-radius);
}

.btn-treatment {
  margin-top: 25px;
  border: 0px solid;
  background-color: var(--color-no16);
  box-shadow: var(--box-shadow-light);
  color: var(--color-no7)
}