<!DOCTYPE html>
<html lang="no">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description"
    content="Behandling detaljer || Oslo Skin & Beauty. Velkommen til Oslo Skin & Beauty Alena. Vi tilbyr skreddersydde behandlinger for å forbedre din naturlige skjønnhet og velvære. Bestill time i dag.">
  <title>Behandling detaljer || Oslo Skin & Beauty</title>
  <script src="https://kit.fontawesome.com/136bcbc643.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="../../css/style.css">
</head>

<body>
  <nav class="nav-main">
    <div class="container">
      <div class="logo" onclick="location.href='../../'">
        <p><span class="first-letter">S</span>kin & <span class="first-letter">B</span>eauty<span
            class="logo-name"><span class="first-letter">A</span>lena</span></p>
      </div>
      <div id="hamburger-menu" class="hamburger-menu">
        <span id="bar-one" class="bars"></span>
        <span id="bar-two" class="bars"></span>
        <span id="bar-three" class="bars"></span>
      </div>
      <ul class="nav-main_list">
        <li><a href="../index.html">Home</a></li>
        <li><a href="../price-list">Pris liste</a></li>
        <li><a href="../treatments">Behandlinger</a></li>
        <li><a href="../treatment-details" class="active">Detaljer</a></li>
        <li><a href="../contact">Kontakt</a></li>
      </ul>
    </div>
  </nav>
  <section class="treatments">
    <div class="container">
      <div class="h1-wrapper">
        <h1>Detalje</h1>
        <p><a href="../treatments" class="treatments-nav">&lt;&lt;&lt; Alle behandlinger</a></p>
      </div>
      <div class="item-content-treatment-details"></div>

  </section>

  <footer>
    <div class="container">
      <ul>
        <li>
          <a href="../../">All rights reserved &copy;</a>
        </li>
        <li>
          <a href="../../">Oslo Skin & Beauty Alena</a>
        </li>
        <li>
          <p><a href="tel:+4796740979">tlf: +47 967 40 979</a></p>
        </li>
        <li>
          <p><a href="mailto:olenaasamowa@icloud.com">e-mail: til Alena</a></p>
        </li>
      </ul>
    </div>
  </footer>

  <div class="modal"></div>
  <script src="../../js/nav.js"></script>
  <script src="../../js/products.js"></script>
  <script src="../../js/treatment-details.js"></script>
</body>

</html>