<!DOCTYPE html>
<html lang="no">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Kontakt || Oslo Skin & Beauty</title>
  <script src="https://kit.fontawesome.com/136bcbc643.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="../css/style.css">
</head>

<body>
  <nav class="nav-main">
    <div class="container">
      <div class="logo">
        <p><span class="first-letter">S</span>kin & <span class="first-letter">B</span>eauty<span
            class="logo-name"><span class="first-letter">A</span>lena</span></p>
      </div>
      <div id="hamburger-menu" class="hamburger-menu">
        <span id="bar-one" class="bars"></span>
        <span id="bar-two" class="bars"></span>
        <span id="bar-three" class="bars"></span>
      </div>
      <ul class="nav-main_list">
        <li><a href="../index.html">Home</a></li>
        <li><a href="#">Prise liste</a></li>
        <li><a href="treatments.html">Behandlinger</a></li>
        <li><a href="#">Blog</a></li>
        <li><a href="contact.html" class="active">Kontakt</a></li>
      </ul>
    </div>
  </nav>
  <section class="contact">
    <div class="container">
      <div class="h1-wrapper">
        <h1>Kontakt</h1>
        <h2>Oslo Skin & Beauty - Alena <span>Kongens gate 15,</span> <span>0153 Oslo</span></h2>
      </div>
      <div class="item-content">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2000.3043551821963!2d10.74221698795151!3d59.91049607234491!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46416e887aaafc97%3A0xa4fd8f591d83d591!2sKongens%20gate%2015%2C%200153%20Oslo!5e0!3m2!1sno!2sno!4v1679398689887!5m2!1sno!2sno"
          width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
          referrerpolicy="no-referrer-when-downgrade">
        </iframe>
        <p class="item-content--description">Sanongen min ligger helt i sentrum, så kan du finne meg veldig enkelt!</p>
        <ul class="contact-data">
          <li>
            <p><a href="">Hvor kan du finne meg:</a></p>
          </li>
          <li>
            <p><a href=""><span>Adresse:</span> Kongens gate 15, 0153 Oslo</a></p>
          </li>
          <li>
            <p><a href="https://www.instagram.com/p/CM7fFUInypS/?igshid=YmMyMTA2M2Y%3D"><span>Instagram:</span> Vipper
                Hudpleie By Alena</a></p>
          </li>
          <li>
            <p><a href="tel:+4796740979"><span>Mobile:</span> +47 967 40 979</a></p>
          </li>
          <li>
            <p><a href="mailto:olenaasamova@icloud.com"><span>e-mail:</span> olenaasamova@icloud.com</a></p>
          </li>
        </ul>
      </div>
    </div>
  </section>
  <section class="social-media">
    <div class="container">
      <div class="h2-wrapper">
        <h2>Media og tlf</h2>
        <p>Her kan du finne meg</p>
      </div>
      <div class="item-content">
        <ul class="icons-wrapper">
          <li>
            <a href="https://www.instagram.com/p/CM7fFUInypS/?igshid=YmMyMTA2M2Y%3D">
              <i class="fab fa-instagram"></i>
            </a>
          </li>
          <li>
            <a href="mailto:olenaasamova@icloud.com">
              <i class="far fa-envelope"></i>
            </a>
          </li>
          <li>
            <a href="tel:+4796740979">
              <i class="fas fa-mobile-alt"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </section>
  <section class="home opening-hours">
    <div class="container">
      <div class="h2-wrapper">
        <h2>Åpningstider</h2>
        <p>Vi prøver å tilpasse åpningstider til våre kunder, så da er det beste å sende SMS til Alena til <a
            href="tel:+4796740979">tlf: +47 967 40 979</a> og bestile time direkte hos henne eller via <a
            href="https://timma.no/salong/alena-beauty">ONLINE BOOKING</a></p>
      </div>
      <div class="item-content">
        <div class="item-content--img">
          <img src="../images/open-hours/opening-hours.jpg" alt="Bilde av nøkkel av Skin & Beauty Alena Salongen">
        </div>

        <ul class="opening-hours--details">
          <li>
            <p class="item-content--description"><span class="day">Mandag:</span><span class="hour">15:00 til
                20:00</span>
            </p>
          </li>
          <li>
            <p class="item-content--description"><span class="day">Tirsdag:</span><span class="hour">15:00 til
                20:00</span></p>
          </li>
          <li>
            <p class="item-content--description"><span class="day">Onsdag:</span><span class="hour">15:00 til
                20:00</span>
            </p>
          </li>
          <li>
            <p class="item-content--description"><span class="day">Torsdag:</span><span class="hour">15:00 til
                20:00</span></p>
          </li>
          <li>
            <p class="item-content--description"><span class="day">Fredag:</span><span class="hour">15:00 til
                20:00</span>
            </p>
          </li>
          <li>
            <p class="item-content--description"><span class="day">Lørdag:</span><span class="hour">15:00 til
                20:00</span>
            </p>
          </li>
          <li>
            <p class="item-content--description"><span class="day">Søndag:</span><span class="hour">15:00 til
                20:00</span>
            </p>
          </li>
        </ul>
      </div>
    </div>
  </section>
  <footer>
    <div class="container">
      <ul>
        <li>
          <p><a>All rights reserved &copy;</a></p>
        </li>
        <li>
          <p><a href="tel:+4796740979">Oslo Skin & Beauty Alena</a></p>
        </li>
        <li>
          <p><a href="tel:+4796740979">tlf: +47 967 40 979</a></p>
        </li>
        <li>
          <p><a href="mailto:olenaasamowa@icloud.com">e-mail: til Alena</a></p>
        </li>
      </ul>
    </div>
  </footer>

  <div class="modal"></div>
  <script src="../js/nav.js"></script>
</body>

</html>