<!DOCTYPE html>
<html lang="no">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Pris liste || Oslo Skin & Beauty</title>
  <link rel="stylesheet" href="../css/style.css">
</head>

<body>
  <nav class="nav-main">
    <div class="container">
      <div class="logo" onclick="location.href='../index.html'">
        <p><span class="first-letter">S</span>kin & <span class="first-letter">B</span>eauty<span
            class="logo-name"><span class="first-letter">A</span>lena</span></p>
      </div>
      <div id="hamburger-menu" class="hamburger-menu">
        <span id="bar-one" class="bars"></span>
        <span id="bar-two" class="bars"></span>
        <span id="bar-three" class="bars"></span>
      </div>
      <ul class="nav-main_list">
        <li><a href="../index.html">Home</a></li>
        <li><a href="price-list.html" class="active">Pris liste</a></li>
        <li><a href="treatments.html">Behandlinger</a></li>
        <li><a href="contact.html">Kontakt</a></li>
      </ul>
    </div>
  </nav>
  <header class="price-list">
    <div class="container">
      <div class="header-content">
        <h1>
          <span class="first-letter">P</span>ris <span class="first-letter">L</span>iste<span class="logo-name"></span>
          finnes in BOOK TIME
        </h1>
        <a href="https://timma.no/salong/alena-beauty" title="Oslo Skin & Beauty Alena Online Booking"
          class="btn btn-booking">
          Book time
        </a>
      </div>
    </div>
  </header>
  <footer>
    <div class="container">
      <ul>
        <li>
          <p><a>All rights reserved &copy;</a></p>
        </li>
        <li>
          <p><a href="tel:+4796740979">Oslo Skin & Beauty Alena</a></p>
        </li>
        <li>
          <p><a href="tel:+4796740979">tlf: +47 967 40 979</a></p>
        </li>
        <li>
          <p><a href="mailto:olenaasamowa@icloud.com">e-mail: til Alena</a></p>
        </li>
      </ul>
    </div>
  </footer>

  <div class="modal"></div>
  <script src="../js/nav.js"></script>
  <script src="../js/products.js"></script>
</body>

</html>